@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../vendor/fonts/Inter-Regular.woff2") format("woff2"),
       url("../../vendor/fonts/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url("../../vendor/fonts/Inter-Medium.woff2") format("woff2"),
      url("../../vendor/fonts/Inter-Medium.woff") format("woff");
}

.portfolio {
  background-color: #FAFAFA;
  min-height: 425px;
}

.portfolio__text {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #A0A0A0;
  mix-blend-mode: normal;
  max-width: 250px;
  margin: 0 0 50px 70px;
}

.portfolio__link-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: calc(100% - 2*70px);
  margin: 20px auto 0;
  min-height: 59px;
  border-bottom: 1px solid #E8E8E8;
  padding: 0 0 10px;
}

.portfolio__link-container:first-child {
  margin: 0
}

.portfolio__link-container:last-child {
  border-bottom: none;
}

.portfolio__link-text {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  color: #000000;
  margin: 0;
}

.portfolio__link {
  width: 18px;
  max-height: 59px;
  background: url(../../images/link.svg) no-repeat center;
}