@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url("../../vendor/fonts/Inter-Medium.woff2") format("woff2"),
      url("../../vendor/fonts/Inter-Medium.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../vendor/fonts/Inter-Regular.woff2") format("woff2"),
       url("../../vendor/fonts/Inter-Regular.woff") format("woff");
}

.promo {
  background-color: #DDDEE3;
}

.promo__content {
  width: calc(100% - 2*70px);
  margin: 0 auto;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .promo__content {
    width: calc(100% - 2*30px);
  }
}

.promo__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
}

.promo__logo {
  margin: 18px 0 0;
}

.promo__nav {
  display: flex;
  flex-direction: row;
  margin: 20px 0 0;
  align-self: center;
}

.promo__link {
  text-decoration: none;
}

.promo__register {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #000000;
  margin: 0 30px 0 0;
}

.promo__register:hover {
  opacity: 0.7;
}

.promo__login {
  width: 76px;
  height: 32px;
  background-color: #3456F3;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 0 0;
}

.promo__login:hover {
  opacity: 0.8;
}

.promo__login-text {
  color: #FFFFFF;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.promo__heading {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #000000;
  margin: 202px auto 0;
  padding:  0 0 224px;
  max-width: 730px;
  align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .promo__heading {
    margin: 344px auto 0;
    padding:  0 0 342px;

  }
}

.promo__background-image {
  width: 730px;
  z-index: 1;
  position: absolute;
  top: 156px;
  left: 50%;
  transform: translateX(-50%);
  width: 320px;
  height: 320px;
  margin: 0 auto 0;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .promo__background-image {
    top: 298px;
  }
}