@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../vendor/fonts/Inter-Regular.woff2") format("woff2"),
       url("../../vendor/fonts/Inter-Regular.woff") format("woff");
}

.about-project {
  background-color: #FAFAFA;
}

.about-project__content {
  min-height: 608px;
  width: calc(100% - 2*70px);
  margin: 0 auto;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about-project__content {
    width: calc(100% - 2*50px);
    min-height: 585px;
  }
}

.about-project__heading {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  color: #000000;
  margin: 0 auto;
  padding: 110px 0 23px;
  border-bottom: 1px solid #000000;
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about-project__heading {
    padding: 90px 0 23px;
  }
}

.about-project__common-about-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.about-project__about-container {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  margin: 0 0 0 40px;
  justify-content: center;
}

.about-project__about-container:first-child {
  margin: 0;
}

.about-project__about-heading {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
  color: #000000;
  margin: 70px 0 26px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about-project__about-heading {
    margin: 70px 0 22px;
  }
}

.about-project__about-text {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 110px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about-project__about-text {
    margin: 0 0 93px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about-project__about-text {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    }
}

.about-project__timing {
  display: flex;
  margin: 0 auto 141px;
  width: 100%;
}

.about-project__term {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.about-project__term:first-child {
  width: 228px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about-project__term:first-child {
    width: 140px;
  }
}

.about-project__first-timing-text {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  width: 228px;
  height: 36px;
  background-color: #3456F3;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about-project__first-timing-text {
    width: 140px;
  }
}

.about-project__second-timing-text {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #000000;
  background-color: #F2F2F2;
  height: 36px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.about-project__timing-explanation {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #A0A0A0;
  margin: 14px 0 0; 
}
