@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url("../../vendor/fonts/Inter-Medium.woff2") format("woff2"),
      url("../../vendor/fonts/Inter-Medium.woff") format("woff");
}

.nav-tab {
  background-color: #F5F5F5;  
}

.nav-tab__content {
  width: calc(100% - 2*70px);
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 66px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .nav-tab__content {
    width: calc(100% - 2*53px);
  }
}

.nav-tab__link {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-decoration-line: underline;
  color: #000000;
  margin: 0 0 0 40px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .nav-tab__link {
    font-size: 11px;
    line-height: 16px;
    margin: 0 0 0 24px;
  }
}

.nav-tab__link:first-child {
  margin: 0;
}

.nav-tab__link:hover {
  opacity: 0.7;
}